// ================================
// About Text Styles
// ================================

.about-text-left, .about-text-left-bold {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  letter-spacing: 0.01rem;
}

.about-text-left-bold {
  font-weight: 600;
}

// ================================
// Heading Styles
// ================================

h2 {
  font-family: 'Roboto Slab';
  font-size: 1.6rem;
  letter-spacing: 0.08rem;
  text-transform: capitalize;
}
