// ================================
// Hero Image
// ================================

.hero-img {
  background-image: url('/background-giraffe.png');
  height: 600px;
  width: 375px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 10px;
}

// ================================
// Hero Info
// ================================

.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  place-self: center;

  // Image within hero-info
  img {
    width: 300px;
    margin: 5rem 0 1.5rem 3.5rem;
    padding-left: 1rem;
  }

  // Button within hero-info
  button {
    margin-top: 45px;
    background-color: #B86F51;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.7rem 1.2rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-family: 'Roboto Slab';
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  }
}

// ================================
// List Animals Hungry Home
// ================================

.hungry-animals {
  background-color: #D4B5A3; 
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  min-width: 335px;
  margin: 20px auto; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  text-align: center; 
  font-family: 'Roboto Slab', serif; 
  margin-top: 250px;
}

.hungry-animals h2 {
  font-size: 1.9rem;
  margin-bottom: 10px;
  color: black; 
  margin-bottom: 20px;
  text-transform: capitalize;
  letter-spacing: 0.09rem;
  font-weight: 600;
}

.hungry-animals ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hungry-animals li {
  font-size: 1.2em;
  margin: 8px 0;
  color: black;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s;
  background-color: rgba(184, 111, 81, 0.7);
  letter-spacing: 0.05rem;
  font-family: 'Roboto';
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.hungry-animals li:hover {
  outline: 4px solid #B86F51;
  cursor: not-allowed;
}

.hungry-animals p {
  font-size: 1.6rem;
  color: black;
  letter-spacing: 0.08rem;
  font-family: 'Roboto';
  font-style: italic;
}

// ================================
// Media Queries
// ================================

@media screen and (min-width: 768px) {
  .hero-img {
    width: 700px;
  }

  .hero-info img {
    width: 500px;
  }

  .hungry-animals {
    margin-top: 130px;
    width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  .hero-img {
    width: 1000px;
  }

  .hero-info img {
    width: 500px;
  }

  .hungry-animals {
    margin-top: 130px;
    width: 60%;
  }
}